<html lang="en">
<head>
{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href={% static 'accounts/edit_profile.css'%} type = "text/css">
  <meta charset="utf-8">

<!-- Tab icon -->
<link rel="icon" type="image/png" href="/static/img/icon.png">
</head>

<body>
<title>Profile</title>

{% block body %}

<!-- Navbar -->
<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/account/dashboard">
        <img src="{% static "accounts/tslogo.png" %}" alt="TSLogo"/>
      </a>
    </div>
  <!-- Search bar -->
    <form class="navbar-form navbar-left nav-searchpad">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  <!-- Create a Post Button -->
    <ul class="nav navbar-nav nav-navitems">
      <li><a href="/account/create/">
        <p>New Post <span class="glyphicon glyphicon-plus-sign"></span> </p>
        </a>
      </li>
    </ul>

  <!-- Dropdown Account Menu -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >
          <img src="{% static "accounts/applelogo.png" %}" alt="TSLogo"/>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/account/profile/">Profile</a></li>
          <li><a href="/account/profile/edit/">Settings</a></li>
          <li><a href="/account/">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> <!-- ./End Navbar -->


<!-- TESTING -->
<!-- Django default edit form. Should be replaced with Bootstrap forms.
<div class="container"> 
<form method="post">
{% csrf_token %}
{{form.as_p}}
<button type="submit">Submit</button>
</div>
-->
<!-- Bootstrap Form (Not functional. Needs to be linked to backend.)
<div class="container">
  <h2>Edit Profile Information</h2>
  
-->
<div class="container">
<!-- Dynamic Toggleable Form Menu -->
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Edit Profile</a></li>
  <li><a data-toggle="tab" href="#menu1">Account Settings</a></li>
  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
  
    <h3>Edit Profile Information</h3>
    <p><form action="{% url 'account:edit_profile' %}" method="post">
    {% csrf_token %}
        <div class="form-group row">
      <label for="firstname" class="col-sm-2 col-form-label">First name:</label>
      <div class="col-xs-5">
        <input type="text" class="form-control" placeholder="First name">
      </div>
        </div>

        <div class="form-group row">
      <label for="lastname" class="col-sm-2 col-form-label">Last name:</label>
      <div class="col-xs-5">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
        </div>

        <!-- Temporary. Need to change to checkbox form for multiple grade levels. 
        <div class="form-group">
          <label for="gradelevel">Grade level currently teaching:</label>
          <select class="form-control" id="sel1">
            <option>Kindergarten</option>
            <option>1st Grade</option>
            <option>2nd Grade</option>
            <option>3rd Grade</option>
            <option>4th Grade</option>
            <option>5th Grade</option>
            <option>6th Grade</option>
            <option>7th Grade</option>
            <option>8th Grade</option>
            <option>9th Grade</option>
            <option>10th Grade</option>
            <option>11th Grade</option>
            <option>12th Grade</option>
          </select>
        </div>
        Commented out to test checkbox. -->

        <!-- Grade level(s) form group. -->

        <div class="form-group">
      <label for="gradelevel">Grade level(s) taught:</label>
            <div class="checkbox">
        <p><label><input type="checkbox" name="K" value="">Kindergarten</label></p>
        <p><label><input type="checkbox" name="1" value="">1st Grade</label></p>
        <p><label><input type="checkbox" name="2"value="">2nd Grade</label></p>
        <p><label><input type="checkbox" name="3"value="">3rd Grade</label></p>
        <p><label><input type="checkbox" name="4"value="">4th Grade</label></p>
        <p><label><input type="checkbox" name="5"value="">5th Grade</label></p>
        <p><label><input type="checkbox" name="6"value="">6th Grade</label></p>
        <p><label><input type="checkbox" name="7"value="">7th Grade</label></p>
        <p><label><input type="checkbox" name="8"value="">8th Grade</label></p>
        <p><label><input type="checkbox" name="9"value="">9th Grade</label></p>
        <p><label><input type="checkbox" name="10"value="">10th Grade</label></p>
        <p><label><input type="checkbox" name="11"value="">11th Grade</label></p>
        <p><label><input type="checkbox" name="12"value="">12th Grade</label></p>
            </div>
        </div>

        <!--Subject taught form group. Should have multiple text fields for multiple subjects. Also, should be able to auto-complete. -->
        <div class="form-group row">
          <label for="subject" class="col-sm-2 col-form-label">Subject taught:</label>
          <div class="col-xs-5">
            <input type="text" class="form-control" placeholder="Subject taught">
          </div>
        </div>

        <!-- Ideally should be able to auto-complete based on known school districts. -->
        <!-- Manual input for now. -->
      <div class="form-group row">
          <label for="schooldistrict" class="col-sm-2 col-form-label">School district:</label>
          <div class="col-xs-5">
            <input type="text" class="form-control" placeholder="School district">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
  </p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Manage Account Settings</h3>
    <p>
        <form>
        <!--
        <div class="form-group row">
          <label for="inputemail" class="col-sm-2 col-form-label">Email address</label>
          <div class="col-xs-5">
            <input type="email" class="form-control" placeholder="Email">
          </div>
        </div>-->
        <h3>Change Password</h3>
        <div class="form-group row">
          <label for="inputoldpassword" class="col-sm-2 col-form-label">Old Password:</label>
          <div class="col-xs-5">
            <input type="password" class="form-control" placeholder="Old Password">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputnewpassword" class="col-sm-2 col-form-label">New Password:</label>
          <div class="col-xs-5">
            <input type="password" class="form-control" placeholder="New Password">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputnewpassword" class="col-sm-2 col-form-label">Confirm New Password:</label>
          <div class="col-xs-5">
            <input type="password" class="form-control" placeholder="New Password">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

        <h3>Change Email Address</h3>
        <div class="form-group row">
          <label for="inputoldaddress" class="col-sm-2 col-form-label">Old Email Address:</label>
          <div class="col-xs-5">
            <input type="email" class="form-control" placeholder="Old Email Address">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputnewaddress" class="col-sm-2 col-form-label">New Email Address:</label>
          <div class="col-xs-5">
            <input type="email" class="form-control" placeholder="New Email Address">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputnewaddress" class="col-sm-2 col-form-label">Confirm New Email Address:</label>
          <div class="col-xs-5">
            <input type="email" class="form-control" placeholder="New Email Address">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        
        </form>
        </p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>
</div>
  
{% endblock %}
</body>