<html lang="en">
<head>
{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href={% static 'accounts/edit_profile.css'%} type = "text/css">
  <meta charset="utf-8">

<!-- Tab icon -->
<link rel="icon" type="image/png" href="/static/img/icon.png">
</head>

<body>
<title>Profile</title>

{% block body %}

<!-- Navbar -->
<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/account/dashboard">
        <img src="{% static "accounts/tslogo.png" %}" alt="TSLogo"/>
      </a>
    </div>
  <!-- Search bar -->
    <form class="navbar-form navbar-left nav-searchpad">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  <!-- Create a Post Button -->
    <ul class="nav navbar-nav nav-navitems">
      <li><a href="/account/create/">
        <p>New Post <span class="glyphicon glyphicon-plus-sign"></span> </p>
        </a>
      </li>
    </ul>

  <!-- Dropdown Account Menu -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >
          <img src="{% static "accounts/applelogo.png" %}" alt="TSLogo"/>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/account/profile/">Profile</a></li>
          <li><a href="/account/profile/edit/">Settings</a></li>
          <li><a href="/account/">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> <!-- ./End Navbar -->


<!-- TESTING -->
<!-- Django default edit form. Should be replaced with Bootstrap forms.
<div class="container"> 
<form method="post">
{% csrf_token %}
{{form.as_p}}
<button type="submit">Submit</button>
</div>
-->
<!-- Bootstrap Form (Not functional. Needs to be linked to backend.)
<div class="container">
  <h2>Edit Profile Information</h2>
  
-->
<div class="container">
<!-- Dynamic Toggleable Form Menu -->
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Edit Profile</a></li>
  <li><a data-toggle="tab" href="#menu1">Account Settings</a></li>
  <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
</ul>


<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
	
    <h3>Edit Profile Information</h3>
    <p><form action="{% url 'account:edit_profile' %}" method="post">
		{% csrf_token %}
        <div class="form-group row">
			<label for="firstname" 
				class="col-sm-2 col-form-label">First name:</label>
			<div class="col-xs-5">
				{% if user.first_name != "" %}
					<input type="text" class="form-control" 
							name="firstName" value="{{user.first_name}}">
				{% else %}
					<input type="text" class="form-control" 
							name="firstName" placeholder="First name">
				{% endif %}
			</div>
        </div>

        <div class="form-group row">
			<label for="lastname" 
				class="col-sm-2 col-form-label">Last name:</label>
			<div class="col-xs-5">
				{% if user.last_name != "" %}
				<input type="text" class="form-control" 
						name="lastName" value="{{user.last_name}}">
				{% else %}
				<input type="text" class="form-control" 
						name="lastName" placeholder="Last name">
				{% endif %}
			</div>
        </div>

        <!-- Temporary. Need to change to checkbox form for multiple grade levels. 
        <div class="form-group">
          <label for="gradelevel">Grade level currently teaching:</label>
          <select class="form-control" id="sel1">
            <option>Kindergarten</option>
            <option>1st Grade</option>
            <option>2nd Grade</option>
            <option>3rd Grade</option>
            <option>4th Grade</option>
            <option>5th Grade</option>
            <option>6th Grade</option>
            <option>7th Grade</option>
            <option>8th Grade</option>
            <option>9th Grade</option>
            <option>10th Grade</option>
            <option>11th Grade</option>
            <option>12th Grade</option>
          </select>
        </div>
        Commented out to test checkbox. -->

        <!-- Grade level(s) form group. -->

        <div class="form-group">
			<label for="gradelevel">Grade level(s) taught:</label>
            <div class="checkbox">
				{% if "Kindergarten" in grades %}
				<p><label><input type="checkbox" 
					name="grade K" value="Kindergarten" 
					checked>Kindergarten</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade K" value="Kindergarten" 
					>Kindergarten</label></p>
				{% endif %}
				
				{% if "1st Grade" in grades %}
				<p><label><input type="checkbox" 
					name="grade 1" value="1st Grade" 
					checked>1st Grade</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade 1" value="1st Grade" 
					>1st Grade</label></p>
				{% endif %}
				
				{% if "2nd Grade" in grades %}
				<p><label><input type="checkbox" 
					name="grade 2" value="2nd Grade" 
					checked>2nd Grade</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade 2" value="2nd Grade" 
					>2nd Grade</label></p>
				{% endif %}
				
				{% if "3rd Grade" in grades %}
				<p><label><input type="checkbox" 
					name="grade 3" value="3rd Grade" 
					checked>3rd Grade</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade 3" value="3rd Grade" 
					>3rd Grade</label></p>
				{% endif %}
				
				{% if "4th Grade" in grades %}
				<p><label><input type="checkbox" 
					name="grade 4" value="4th Grade" 
					checked>4th Grade</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade 4" value="4th Grade" 
					>4th Grade</label></p>
				{% endif %}
				
				{% if "5th Grade" in grades %}
				<p><label><input type="checkbox" 
					name="grade 5" value="5th Grade" 
					checked>5th Grade</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade 5" value="5th Grade" 
					>5th Grade</label></p>
				{% endif %}
				
				{% if "6th Grade" in grades %}
				<p><label><input type="checkbox" 
					name="grade 6" value="6th Grade" 
					checked>6th Grade</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade 6" value="6th Grade" 
					>6th Grade</label></p>
				{% endif %}
				
				{% if "7th Grade" in grades %}
				<p><label><input type="checkbox" 
					name="grade 7" value="7th Grade" 
					checked>7th Grade</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade 7" value="7th Grade" 
					>7th Grade</label></p>
				{% endif %}
				
				{% if "8th Grade" in grades %}
				<p><label><input type="checkbox" 
					name="grade 8" value="8th Grade" 
					checked>8th Grade</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade 8" value="8th Grade" 
					>8th Grade</label></p>
				{% endif %}
				
				{% if "9th Grade" in grades %}
				<p><label><input type="checkbox" 
					name="grade 9" value="9th Grade" 
					checked>9th Grade</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade 9" value="9th Grade" 
					>9th Grade</label></p>
				{% endif %}
				
				{% if "10th Grade" in grades %}
				<p><label><input type="checkbox" 
					name="grade 10" value="10th Grade" 
					checked>10th Grade</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade 10" value="10th Grade" 
					>10th Grade</label></p>
				{% endif %}
				
				{% if "11th Grade" in grades %}
				<p><label><input type="checkbox" 
					name="grade 11" value="11th Grade" 
					checked>11th Grade</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade 11" value="11th Grade" 
					>11th Grade</label></p>
				{% endif %}
				
				{% if "12th Grade" in grades %}
				<p><label><input type="checkbox" 
					name="grade 12" value="12th Grade" 
					checked>12th Grade</label></p>
				{% else %}
				<p><label><input type="checkbox" 
					name="grade 12" value="12th Grade" 
					>12th Grade</label></p>
				{% endif %}
				
            </div>
        </div>

        <!--Subject taught form group. Should have multiple text fields for multiple subjects. Also, should be able to auto-complete. -->
        <div class="form-group row">
          <label for="subject" class="col-sm-2 col-form-label">Subject taught:</label>
          <div class="col-xs-5">
				{% if userProfile.subjectTaught != "" %}
					<input type="text" class="form-control" 
							name="subject" 
							value="{{userProfile.subjectTaught}}">
				{% else %}
					<input type="text" class="form-control" 
							name="subject" placeholder="Subject">
				{% endif %}
          </div>
        </div>

        <!-- Ideally should be able to auto-complete based on known school districts. -->
        <!-- Manual input for now. -->
      <div class="form-group row">
          <label for="schooldistrict" 
				class="col-sm-2 col-form-label">School district:</label>
          <div class="col-xs-5">
			{% if userProfile.schoolDistrict != "" %}
				<input type="text" class="form-control" 
						name="district" 
						value="{{userProfile.schoolDistrict}}">
			{% else %}
				<input type="text" class="form-control" 
						name="district" placeholder="District">
			{% endif %}
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
  </p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Manage Account Settings</h3>
    <p>
        <form>
        <!--
        <div class="form-group row">
          <label for="inputemail" class="col-sm-2 col-form-label">Email address</label>
          <div class="col-xs-5">
            <input type="email" class="form-control" placeholder="Email">
          </div>
        </div>-->

        <div class="form-group row">
          <label for="inputpassword" class="col-sm-2 col-form-label">Password:</label>
          <div class="col-xs-5">
            <input type="password" class="form-control" placeholder="Password">
          </div>
        </div>
        </form>
        </p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>
</div>
  
{% endblock %}
</body>

