<!DOCTYPE html>
<html>
<head>
<title>Profile</title>
{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href={% static 'accounts/edit_profile.css'%} type = "text/css">
  <meta charset="utf-8">

<!-- Tab icon -->
<link rel="icon" type="image/png" href="/static/img/icon.png">
</head>


<body>

<!-- ** Insert Navbar **-->

<div class="container">
<a href='/account/' button type="button" class="btn btn-primary btn-lg pull-right" id="right-panel-link" href="#right-panel">Home</button></a>
<div class="col-xs-12" style="height:20px;"></div>
</div>



<!-- Django default edit form. Should be replaced with Bootstrap forms.-->
<div class="container"> 
<form method="post">
{% csrf_token %}
{{form.as_p}}
<button type="submit">Submit</button>
</div>

<!-- Bootstrap Form (Not functional. Needs to be linked to backend.) -->
<div class="container">
  <h2>Edit Profile Information</h2>
  <form>

  	<div class="form-group row">
      <label for="firstname" class="col-sm-2 col-form-label">First name:</label>
      <div class="col-xs-5">
        <input type="text" class="form-control" placeholder="First name">
      </div>
    </div>

    <div class="form-group row">
      <label for="lastname" class="col-sm-2 col-form-label">Last name:</label>
      <div class="col-xs-5">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>

<!--
    <div class="form-group row">
      <label for="inputemail" class="col-sm-2 col-form-label">Email address</label>
      <div class="col-xs-5">
        <input type="email" class="form-control" placeholder="Email">
      </div>
    </div>-->

    <div class="form-group row">
      <label for="inputpassword" class="col-sm-2 col-form-label">Password:</label>
      <div class="col-xs-5">
        <input type="password" class="form-control" placeholder="Password">
      </div>
    </div>

    <!-- Temporary. Need to change to checkbox form for multiple grade levels. 
    <div class="form-group">
      <label for="gradelevel">Grade level currently teaching:</label>
      <select class="form-control" id="sel1">
        <option>Kindergarten</option>
        <option>1st Grade</option>
        <option>2nd Grade</option>
        <option>3rd Grade</option>
        <option>4th Grade</option>
        <option>5th Grade</option>
        <option>6th Grade</option>
        <option>7th Grade</option>
        <option>8th Grade</option>
        <option>9th Grade</option>
        <option>10th Grade</option>
        <option>11th Grade</option>
        <option>12th Grade</option>
      </select>
    </div>
    Commented out to test checkbox. -->

    <!-- Grade level(s) form group. -->

    <div class="form-group">
      <label for="gradelevel">Grade level(s) taught:</label>
        <div class="checkbox">
          <label><input type="checkbox" value="">Kindergarten</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">1st Grade</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">2nd Grade</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">3rd Grade</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">4th Grade</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">5th Grade</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">6th Grade</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">7th Grade</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">8th Grade</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">9th Grade</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">10th Grade</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">11th Grade</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="">12th Grade</label>
        </div>
    </div>

    <!--Subject taught form group. Should have multiple text fields for multiple subjects. Also, should be able to auto-complete. -->
    <div class="form-group row">
      <label for="subject" class="col-sm-2 col-form-label">Subject taught:</label>
      <div class="col-xs-5">
        <input type="text" class="form-control" placeholder="Subject taught">
      </div>
    </div>


    <!-- Ideally should be able to auto-complete based on known school districts. -->
    <!-- Manual input for now. -->
	<div class="form-group row">
      <label for="schooldistrict" class="col-sm-2 col-form-label">School district:</label>
      <div class="col-xs-5">
        <input type="text" class="form-control" placeholder="School district">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div><!-- ./End Bootstrap form -->

</body>
</html>