{% load static %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href={% static 'accounts/login.css'%} type = "text/css">
<!-- Tab icon -->
<link rel="icon" type="image/png" href="/static/img/icon.png">

<!-- login and sign up buttons -->
<div id= "container">
	<div class="col-sm-12">
	 <a href="/account/" <button type="button" class="btn btn-primary btn-lg pull-left" >Home </button></a>
	 <a href="/account/signup" <button type="button" class="btn btn-primary btn-lg pull-right"> Sign Up </button></a>
 </div> <!-- end col -->
</div> <!-- end container -->

</head>

<body>
<!-- login text area -->
	<div class="login-page">
		<!-- logo -->
		<img class="img-responsive" src="/static/img/whitelogo.png">
	  <div class="form">
			<form action="{%url 'account:login'%}" method="post">
				{% csrf_token %}
				<input type="text" placeholder="username" name="username"/>
				<input type="password" placeholder="password" name = "password"/>
				<input type="submit" value="Login" />
				<a href="/reset-password/">Forgot Password?</a>
				{% block content %}{% endblock %}
	    </form>
	  </div>
	</div>
</body>
