<html lang="en">
<head>
{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href={% static 'accounts/post_create.css'%} type = "text/css">
  <meta charset="utf-8">
<!-- Tab icon -->
<link rel="icon" type="image/png" href="/static/img/icon.png">
</head>

<body>
{% block body %}

<!-- Navbar -->
<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/account/dashboard">
        <img src="{% static "accounts/tslogo.png" %}" alt="TSLogo"/>
      </a>
    </div>
  <!-- Search bar -->
    <form class="navbar-form navbar-left nav-searchpad">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  <!-- Create a Post Button -->
    <ul class="nav navbar-nav nav-navitems">
      <li><a href="/account/create/">
        <p>New Post <span class="glyphicon glyphicon-plus-sign"></span> </p>
        </a>
      </li>
    </ul>

  <!-- Dropdown Account Menu -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >
          <img src="{% static "accounts/applelogo.png" %}" alt="TSLogo"/>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="/account/">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> <!-- ./End Navbar -->


<div class="container">
  <h3>Create a Post</h3>

  <div class="form-group">
    <label for="title" class="col-sm-12 control-label">Title</label>
    <div class="col-sm-11">
      <input type="text" class="form-control" id="title" name="title" placeholder="Add a title" value="">
    </div>
  </div>

  <div class="form-group">
    <label for="message" class="col-sm-12 control-label">Description</label>
    <div class="col-sm-11">
      <textarea class="form-control" rows="6" name="description" placeholder="Add a description"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 pull-left">
      <input id="save" name="save" type="submit" value="Save" class="btn btn-primary">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 pull-right">
      <input id="submit" name="submit" type="submit" value="Submit" class="btn btn-primary">
    </div>
  </div>
</div>
  
{% endblock %}
</body>