<!DOCTYPE html>
<html>
<head>
<title>Profile</title>
{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href={% static 'accounts/edit_profile.css'%} type = "text/css">

  <meta charset="utf-8">

<!-- Tab icon -->
<link rel="icon" type="image/png" href="/static/img/icon.png">
</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/account/dashboard">
        <img src="{% static "accounts/tslogo.png" %}" alt="TSLogo"/>
      </a>
    </div>
  <!-- Search bar -->
    <form class="navbar-form navbar-left nav-searchpad">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  <!-- Create a Post Button -->
    <ul class="nav navbar-nav nav-navitems">
      <li><a href="/account/create/">
        <p>New Post <span class="glyphicon glyphicon-plus-sign"></span> </p>
        </a>
      </li>
    </ul>

  <!-- Dropdown Account Menu -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >
          <img src="{% static "accounts/applelogo.png" %}" alt="TSLogo"/>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/account/profile/">Profile</a></li>
          <li><a href="/account/profile/edit/">Settings</a></li>
          <li><a href="/account/">Log Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> <!-- ./End Navbar -->

<!--
<div class = "container"> 
<h1> Profile </h1>
<p>Username:{{user}}</p>
<p>First name:{{user.first_name}}</p>
<p>Last name:{{user.last_name}}</p>
<p>email:{{user.email}}</p>
<p>Subject: {{userProfile.subjectTaught}}</p>
<p>School District: {{userProfile.schoolDistrict}}</p>
<p> Grades taught:</p>
{% if grades %}
	{% for grade in grades %}
		<p>{{grade.grade}}</p>
	{% endfor %}
{% endif %}
</div>-->

<!-- Profile Info Box -->
<div class="col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 toppad" >
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title"><h1>Profile</h1></div>
    </div>
  <div class="panel-body">
    <div class="col-md-9 col-lg-9"> 
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td>Username:</td>
              <td>{{user}}</td>
            </tr>
            <tr>
              <td>First name:</td>
              <td>{{user.first_name}}</td>
            </tr>
            <tr>
              <td>Last name</td>
              <td>{{user.last_name}}</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>{{user.email}}</td>
            </tr>
              <td>Subjects taught: </td>
              <td>{{userProfile.subjectTaught}}</td>
            </tr>
              <tr>
              <td>School district:</td>
              <td>{{userProfile.schoolDistrict}}</td>
            </tr>
            <tr>
              <td>Grades taught:</td>
              <td>
                {% if grades %}
                  {% for grade in grades %}
                    <p>{{grade.grade}}</p>
                  {% endfor %}
                {% endif %}            
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div> <!--./ End Panel Body -->
  </div> <!-- ./End Panel info -->
</div> <!-- ./End Profile Info Box -->

<div class="col-xs-12" style="height:10px;"></div>

<div class="col-lg-12">
    <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <a href='/account/profile/edit'  button type="button" class="btn btn-primary btn-lg btn-block">Edit</button></a>
        </div>
        <div class="col-xs-4">
        </div>
    </div>
</div>

<div class="col-xs-12" style="height:30px;"></div>





<!--

<div class="col-xs-12" style="height:50px;"></div>

<div class="col-lg-12">
    <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <a href='/account/logout'  button type="button" class="btn btn-primary btn-lg btn-block">Logout</button></a>
        </div>
        <div class="col-xs-4">
        </div>
    </div>
</div>-->

<div class="col-xs-12" style="height:50px;"></div>




</body>
</html>