*.py[cod]
env/
__pycache__/
.idea/
.vscode/
*.jshintrc
*.project
*.pydevproject
media/
*celerybeat-schedule*
Rust_ws/target
static/
TeachShare_WebApp/cache/websockets/target
CacheService/cache-service/target