*.py[cod]
env/
TeachShare_WebApp/env

TeachShare_WebApp/env3
__pycache__/
.idea/
.vscode/
*.jshintrc
*.project
*.pydevproject
media/
*celerybeat-schedule*
Rust_ws/target
TeachShare_WebApp/cache/diesel_demo/target
static/
CacheService/cache-service/target
TeachShare_WebApp/cache/
CacheService/cache-service/target
CacheService/cache-service/rls
CacheBackend/
