aioredis==1.0.0
amqp==2.2.2
argcomplete==1.9.4
asgiref==2.2.0
asn1crypto==0.24.0
astroid==1.6.1
async-timeout==2.0.0
attrs==17.4.0
autobahn==18.3.1
Automat==0.6.0
autopep8==1.3.4
beatserver==0.0.4
billiard==3.5.0.3
cachetools==2.0.1
celery==4.1.0
certifi==2018.1.18
cffi==1.11.5
channels==2.0.2
channels-redis==2.1.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
daphne==2.1.0
decorator==4.2.1
defusedxml==0.5.0
Django==2.0.3
django-braces==1.12.0
django-cors-headers==2.1.0
django-elasticsearch-dsl==0.4.4
django-filter==1.1.0
django-haystack==2.7.0
django-oauth-toolkit==1.0.0
django-redis==4.9.0
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.7.7
elasticsearch==6.1.1
elasticsearch-dsl==5.4.0
factory-boy==2.10.0
Faker==0.8.11
google-api-core==1.1.0
google-auth==1.4.1
google-cloud-core==0.28.1
google-cloud-storage==1.8.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
gunicorn==19.7.1
hiredis==0.2.0
hyperlink==18.0.0
idna==2.6
idna-ssl==1.0.1
incremental==17.5.0
ipython==6.2.1
ipython-genutils==0.2.0
isort==4.2.15
jedi==0.11.1
kombu==4.1.0
lazy-object-proxy==1.3.1
lxml==4.2.1
Markdown==2.6.11
mccabe==0.6.1
msgpack==0.5.6
msgpack-python==0.5.5
multidict==4.2.0
oauthlib==2.0.6
parsel==1.4.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
psycopg2==2.7.3.2
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pycparser==2.18
PyDispatcher==2.0.5
pyelasticsearch==1.4
Pygments==2.2.0
PyJWT==1.5.3
pylint==1.8.2
pyOpenSSL==17.5.0
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2018.3
PyYAML==3.12
queuelib==1.5.0
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
Scrapy==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
simplejson==3.13.2
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
termcolor==1.1.0
text-unidecode==1.2
traitlets==4.3.2
Twisted==17.9.0
txaio==2.9.0
urllib3==1.22
vine==1.1.4
w3lib==1.19.0
wcwidth==0.1.7
wrapt==1.10.11
yarl==1.1.1
zope.interface==4.4.3
