body {
  background: #FCF4E3
    ; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* navbar */
.navbar {
  min-height:100px !important;
}

/*buttons on navbar*/

.nav-navitems {
  text-align: center;
  padding-top: 2%;
}

/*search bar on naavbar */
.nav-searchpad {
  text-align: center;
  padding-top: 2%;
}

.container {
  margin: 100px 200px;
  width: 800px;
  text-align: left;
  background-color: #ffffff;
}
.container>p {
  font-size: 18px;
}
.container>h2 {
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;


}
.well {
  margin-left: 0px;
}
.well>p {
  font-size: 18px;
}

.tag-container {
	width: 800px;
	height: 0px;
}
