/* Commented out to make buttons cohesive with Nev's navbar design
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
*/
.btn-primary {
    background: #41924B;
    color: #ffffff;
    border: 0 none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #295B2F;
}

body {
  background: #FCF4E3
    ; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* navbar */
.navbar {
  min-height:100px !important;
}

/*buttons on navbar*/

.nav-navitems {
  text-align: center;
  padding-top: 30px;
}

/*search bar on naavbar */
.nav-searchpad {
  text-align: center;
  padding-top: 30px;
}

.container {
  width: 800px;
  text-align: left;
  background-color: #ffffff;
}
.container>p {
  font-size: 18px;
}
.container>h1 {
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;


}
.well {
  margin-left: 0px;
}
.well>p {
  font-size: 18px;
}
