/* Commented out to make buttons cohesive with Nev's navbar design
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
*/
.btn-primary {
    background: #41924B;
    color: #ffffff;
    border: 0 none;
}

.btn-primary:hover, .btn-primary:focus{
    background: #295B2F;
}

.btn-comment {
  padding-top: 10px;
  padding-bottom: 20px;
}

body {
  background: #FCF4E3
    ; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* navbar */
.navbar {
  min-height:100px !important;
}

/*buttons on navbar*/

.nav-navitems {
  text-align: center;
  padding-top: 30px;
}

/*search bar on naavbar */
.nav-searchpad {
  text-align: center;
  padding-top: 30px;
}
/*general white centered container*/
.container {
  width: 800px;
  text-align: left;
  background-color: #ffffff;
  padding-bottom: 50px;
}
.container>p {
  font-size: 18px;
}
.container>h1 {
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;


}

/*small well modifications*/
.well {
  margin-left: 0px;
}
.well>p {
  font-size: 18px;
}

/*specialized container for comments*/
.container-comments {
  width: 800px;
  text-align: left;
  font-size: 16px;
  padding-top: 10px;
  background-color: #f5f5f5;
}

/*well style for individual comments*/
.well-comments {
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
}

/*specialized container for commenting area*/
.container-commenting {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    background color: #FCF4E3;
}
